.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerPage {
    background-color: pink;
}

.aboutMe {
    background-color: salmon;
}

.techStack {
    background-color: skyblue;
}

.projects {
    background-color: lightgreen;
}

.contactMe {
    background-color: beige;
}