.App {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.container {
    display: flex;
    justify-content: center;
}

.headerPage {
    background-color: pink;
}

.aboutMe {
    background-color: salmon;
    
}

.techStack {
    background-color: skyblue;
}

.projects {
    background-color: lightgreen;
}

.profilePicture {
    width: 100px;
}

.contactMe {
    background-color: beige;
}